h1 {
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
}
section#formulario {
    background-color: #f9f9f9;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
section#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #555;
}